{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/security.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-security'}}) }}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{ form_errors(form.username) }}
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}

    {{ form_errors(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}

    {{ form_errors(form.plainPassword.second) }}
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}

    <a href="{{ path('app_login') }}">Already have account? Sign up</a>
    {{ form_widget(form.submit) }}

    {{ form_end(form) }}
{% endblock %}
