{% extends 'layout.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}
    <h1>User list</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.isDisabled() %}
                <tr class="table-danger">
                    <td>{{ user.getUsername() }}</td>
                    <td><a class="btn btn-success" href="{{ path('user_enable', {
                            id: user.getId(),
                            page: currentPage,
                            limit: limit
                        }) }}">enable</a></td>
                </tr>
            {% else %}
                <tr class="table-success">
                    <td>{{ user.getUsername() }}</td>
                    <td><a class="btn btn-danger" href="{{ path('user_disable', {
                            id: user.getId(),
                            page: currentPage,
                            limit: limit
                        }) }}">disable</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


    {% if maxPages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% for i in 1..maxPages %}
                <li class="page-item {{ currentPage == i ? 'active' }}">
                    <a class="page-link" href="{{ path('user_list', {
                        page: i,
                        limit: limit
                    }) }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
